/*------------------------------------*\
    Global Reset
\*------------------------------------*/

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #D3D3D3;
    text-align: center;
}

body { 
  background: url(/assets/img/gafas_small.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header {
  margin-top: 10px; 
  z-index: 1;
  text-align: center;
    .location {
        font-size: 15px;
        color: #37FDFC;
        font-family: 'Nunito', sans-serif;
    }
    .pull-left {
        margin-left: 10px;
    }
    .pull-center {

    }
    .pull-right {
        margin-right: 10px;
    }
}

.wyrough-banner {
    margin-top: 300px;

    span.name {
        color: #FFF;
        font-size: 50px;
        font-family: 'Nunito', sans-serif;
    }
}

.footer {
  margin-bottom: 10px; 
  z-index: 1;
  text-align: center;
    .email {
        font-size: 25px;
        color: #37FDFC;
        font-family: 'Nunito', sans-serif;
    }
    a:hover, a:active {
        color: #000;
    }
}


